@model IEnumerable<MortgageViewModel>

@{
    ViewData["title"] = "Index";
}

<div class="container p-3">
    <div class="border p-3 mt-4">
        <form asp-controller="Mortgage" asp-action="Index">
            <p>
                Search: <input type="text" name="SearchString" class="form-control"  />
                Sorting: <select class="form-select" name="sorting">
                    <option>Name</option>
                    <option>MortgageType</option>
                    <option>InterestRepayment</option>
                    <option>TermsInMonths</option>   
                    <option>EffectiveStartDate</option>
                    <option>EffectiveEndDate</option>
                    <option>InterestRepayment</option>
                    <option>CancellationFee</option> 
                    <option>EstablishmentFee</option>  
                </select>
                <br />
                <input type="submit" value="Filter & Sort" class="btn btn-primary" style="width:150px" />
            </p>           
        </form>
    </div>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Mortgage List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Mortgage" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp;  New Mortgage</a>
        </div>
    </div>
    <br /><br />


    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Repayment</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Term(M)</th>
                <th>C.Fee</th>
                <th>E.Fee</th>
                <th>SchemaIdentifier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="10%">@obj.MortgageId</td>
                    <td width="10%">@obj.Name</td>
                    <td width="10%">@obj.MortgageType</td>
                    <td width="10%">@obj.InterestRepayment</td>
                    <td width="10%">@obj.EffectiveStartDate</td>
                    <td width="10%">@obj.EffectiveEndDate</td>
                    <td width="10%">@obj.TermsInMonths</td>
                    <td width="10%">@obj.CancellationFee</td>
                    <td width="10%">@obj.EstablishmentFee</td>
                    <td width="10%">@obj.SchemaIdentifier</td>
                </tr>
            }
        </tbody>
    </table>
</div>